# Docker resources
/*.dockerfile
/.dockerignore
/build_docker.sh

# Other scripts
/scripts
/build_all_no_orchestrator.sh
/build_macos.sh
/build_windows.bat

# Git and cache folders
/.git
/.gitignore

# Local build output
/build
/install
/packages/orchestrator/lib/cogment/version.h
/packages/cli/version/version.go
/packages/cli/pkged.go
/packages/cli/services/orchestrator/lib
