# Directory used on the CI for go dependencies cache
.go

# Git and cache folders
.git
.cache
.gitignore

# Build output
build

# Test outputs
raw_report.txt
report.xml
test_failed.txt

# Docker resources
Dockerfile
.dockerignore
