{{ $config := . -}}
import:
  proto:
    - data.proto

commands:
  generate: >
    cogment generate --python_dir=./environment &&
    {{ range .ListServiceActorServices -}}
    cogment generate --python_dir=./{{.Name|snakeify}} &&
    {{ end -}}
    cogment generate --python_dir=./client
  build: docker-compose build
  # Start and stop services
  start: docker-compose up orchestrator environment metrics dashboard{{ range .ListServiceActorServices }} {{.Name|kebabify}}{{end}}
  stop: docker-compose stop orchestrator environment metrics dashboard{{ range .ListServiceActorServices }} {{.Name|kebabify}}{{end}}
  client: docker-compose run --rm client

environment:
  config_type: {{.ProjectName|snakeify}}.EnvConfig

trial:
  config_type: {{.ProjectName|snakeify}}.TrialConfig

# Static configuration
actor_classes:
{{- range .ActorClasses }}
  - id: {{.Id|snakeify}}
    action:
      space: {{$config.ProjectName|snakeify}}.{{.Id|pascalify}}Action
    observation:
      space: {{$config.ProjectName|snakeify}}.Observation
{{- end}}

# Dynamic configuration (could be changed by a pre-hook)
trial_params:
  environment:
    endpoint: grpc://environment:9000
    #config: {}
  actors:
  {{- range .TrialParams.Actors}}
    - name: {{.Name|snakeify}}
      actor_class: {{.ActorClass|snakeify}}
      {{ if computeTrialActorServiceName . | ne "client" -}}
      implementation: {{.Implementation}}
      {{ end -}}
      endpoint: {{.Endpoint}}
  {{- end }}
