{{ $config := . -}}
import:
  proto:
    - data.proto

commands:
  generate: >
    cogment generate
    {{ if $config.WebClient }}--js-out web-client{{ end }}
    {{ if $config.Typescript }}--typescript{{ end }}
    --python-out environment
    --python-out client
    {{- range .ListServiceActorServices }}
    --python-out {{.Name|snakeify}}
    {{- end }}
  build: docker-compose build web-client dashboard
  dashboard: docker-compose up --build dashboard
  start: docker-compose up dashboard {{ if $config.WebClient }}web-client{{else}}orchestrator{{ end }}
  stop: docker-compose stop dashboard {{ if $config.WebClient }}web-client{{else}}orchestrator{{ end }}
  down: docker-compose down
  client: docker-compose run --rm client

environment:
  config_type: {{.ProjectName|snakeify}}.EnvConfig

trial:
  config_type: {{.ProjectName|snakeify}}.TrialConfig

# Static configuration
actor_classes:
{{- range .ActorClasses }}
  - id: {{.Id|snakeify}}
    action:
      space: {{$config.ProjectName|snakeify}}.{{.Id|pascalify}}Action
    observation:
      space: {{$config.ProjectName|snakeify}}.Observation
{{- end}}

# Dynamic configuration (could be changed by a pre-hook)
trial_params:
  environment:
    endpoint: grpc://environment:9000
    #config: {}
  actors:
  {{- range .TrialParams.Actors }}
    - name: {{.Name|snakeify}}
      actor_class: {{.ActorClass|snakeify}}
      {{- if computeTrialActorServiceName . | ne "client" }}
      implementation: {{.Implementation}}
      {{- end }}
      endpoint: {{.Endpoint}}
  {{- end }}
